ul {
    padding-top: 20px;
  }
  li{
    padding-bottom: 20px;
  }
  .education {
    width: 80%;
    margin-left: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color:gainsboro;
  }
  
  .firstLine{
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .years{
    font-size: 1.3em;
    height:50px;
    font-weight: bold;
  }